In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from copy import deepcopy as dc
from pandas_profiling import ProfileReport

### Preprocessing and Analysis

In [57]:
data = pd.read_csv("sample_data.csv")

In [58]:
data = data.drop_duplicates()

In [59]:
data = data.drop("fnlwgt",axis=1)

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48813 entries, 0 to 48841
Data columns (total 14 columns):
age               48813 non-null int64
workclass         46014 non-null object
education         48813 non-null object
education-num     48813 non-null int64
marital-status    48813 non-null object
occupation        46004 non-null object
relationship      48813 non-null object
race              48813 non-null object
sex               48813 non-null object
capital-gain      48813 non-null int64
capital-loss      48813 non-null int64
hours-per-week    48813 non-null int64
native-country    47957 non-null object
income            48813 non-null object
dtypes: int64(5), object(9)
memory usage: 5.6+ MB

In [6]:
data.describe()

                age  education-num  capital-gain  capital-loss  hours-per-week
count  48813.000000   48813.000000  48813.000000  48813.000000    48813.000000
mean      38.647348      10.078688   1079.708705     87.554299       40.425051
std       13.709005       2.570257   7454.185982    403.118605       12.390954
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       48.000000      12.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [7]:
data.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
data.income.unique()

array(['<=50K', '>50K', '<=50K.', '>50K.'], dtype=object)

In [61]:
data.income = data.income.apply(lambda x: ">50K" if x==">50K." else x)
data.income = data.income.apply(lambda x: "<=50K" if x=="<=50K." else x)

In [10]:
data["marital-status"].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [11]:
data["workclass"].unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', nan, 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

#### There is null data in workclass column. Since there is no null data in education column, here I assume that I can impute workclass with the mode value of thw workclass column associated with the person's education level.

In [12]:
data[data.workclass.isnull()]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
27,54,NaN,Some-college,10,Married-civ-spouse,NaN,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
61,32,NaN,7th-8th,4,Married-spouse-absent,NaN,Not-in-family,White,Male,0,0,40,NaN,<=50K
69,25,NaN,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,40,United-States,<=50K
77,67,NaN,10th,6,Married-civ-spouse,NaN,Husband,White,Male,0,0,2,United-States,<=50K
106,17,NaN,10th,6,Never-married,NaN,Own-child,White,Female,34095,0,32,United-States,<=50K
128,35,NaN,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,<=50K
149,43,NaN,Some-college,10,Divorced,NaN,Not-in-family,White,Female,0,0,40,United-States,<=50K
154,52,NaN,HS-grad,9,Divorced,NaN,Not-in-family,White,Male,0,0,45,United-States,>50K
160,68,NaN,1st-4th,2,Divorced,NaN,Not-in-family,White,Female,0,0,20,United-States,<=50K
187,53,NaN,Bachelors,13,Divorced,NaN,Not-in-family,White,Female,0,0,50,United-States,<=50K
201,19,NaN,HS-grad,9,Never-married,NaN,Own-child,White,Male,0,0,40,Italy,<=50K
221,64,NaN,1st-4th,2,Divorced,NaN,Not-in-family,White,Male,0,0,40,United-States,<=50K
226,60,NaN,10th,6,Divorced,NaN,Not-in-family,Amer-Indian-Eskimo,Female,0,0,10,United-States,<=50K
243,20,NaN,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,20,United-States,<=50K
266,19,NaN,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,24,Canada,<=50K
297,39,NaN,Masters,14,Married-civ-spouse,NaN,Wife,Asian-Pac-Islander,Female,3464,0,40,NaN,<=50K
312,19,NaN,Some-college,10,Never-married,NaN,Own-child,Black,Female,0,0,25,United-States,<=50K
326,23,NaN,Assoc-voc,11,Never-married,NaN,Own-child,Black,Female,0,0,15,United-States,<=50K
346,67,NaN,11th,7,Married-civ-spouse,NaN,Husband,White,Male,0,0,8,United-States,<=50K
347,30,NaN,Assoc-voc,11,Divorced,NaN,Unmarried,White,Female,0,0,40,United-States,<=50K
354,59,NaN,Bachelors,13,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,>50K
397,20,NaN,HS-grad,9,Never-married,NaN,Other-relative,White,Female,0,0,35,United-States,<=50K
408,28,NaN,Some-college,10,Married-civ-spouse,NaN,Wife,White,Female,0,1887,40,United-States,>50K
430,80,NaN,HS-grad,9,Widowed,NaN,Not-in-family,White,Male,0,0,24,United-States,<=50K
431,17,NaN,11th,7,Never-married,NaN,Own-child,White,Male,0,0,40,United-States,<=50K
449,17,NaN,11th,7,Never-married,NaN,Own-child,White,Female,0,0,5,United-States,<=50K
459,32,NaN,Some-college,10,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,<=50K
471,22,NaN,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,40,United-States,<=50K
484,52,NaN,12th,8,Never-married,NaN,Other-relative,Black,Male,594,0,40,United-States,<=50K
486,63,NaN,1st-4th,2,Married-civ-spouse,NaN,Husband,White,Male,0,0,35,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48393,41,NaN,Some-college,10,Divorced,NaN,Not-in-family,White,Male,0,1504,40,United-States,<=50K
48397,42,NaN,Bachelors,13,Married-civ-spouse,NaN,Wife,White,Female,0,0,28,United-States,>50K
48400,72,NaN,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,8,United-States,<=50K
48407,17,NaN,12th,8,Never-married,NaN,Own-child,White,Male,0,0,30,United-States,<=50K
48412,26,NaN,HS-grad,9,Divorced,NaN,Not-in-family,White,Female,0,0,15,United-States,<=50K
48417,57,NaN,Bachelors,13,Never-married,NaN,Not-in-family,Black,Female,0,0,35,United-States,<=50K
48422,39,NaN,Bachelors,13,Divorced,NaN,Own-child,Black,Female,0,0,40,United-States,<=50K
48425,39,NaN,HS-grad,9,Divorced,NaN,Unmarried,White,Female,0,0,16,United-States,<=50K
48437,17,NaN,7th-8th,4,Never-married,NaN,Own-child,White,Female,0,0,15,United-States,<=50K
48440,18,NaN,12th,8,Never-married,NaN,Own-child,White,Male,0,0,10,United-States,<=50K
48470,41,NaN,Assoc-acdm,12,Married-civ-spouse,NaN,Husband,White,Male,0,0,99,United-States,<=50K
48473,68,NaN,Some-college,10,Married-civ-spouse,NaN,Husband,White,Male,0,1648,10,United-States,>50K
48477,24,NaN,7th-8th,4,Never-married,NaN,Not-in-family,White,Female,0,0,25,United-States,<=50K
48483,19,NaN,HS-grad,9,Never-married,NaN,Own-child,White,Male,0,0,40,United-States,<=50K
48485,17,NaN,HS-grad,9,Never-married,NaN,Own-child,White,Male,0,0,14,United-States,<=50K
48513,58,NaN,11th,7,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<=50K
48544,18,NaN,HS-grad,9,Never-married,NaN,Own-child,White,Male,0,0,15,United-States,<=50K
48549,20,NaN,HS-grad,9,Never-married,NaN,Not-in-family,White,Female,0,0,40,United-States,<=50K
48553,22,NaN,Some-college,10,Never-married,NaN,Not-in-family,White,Female,0,1974,40,United-States,<=50K
48562,18,NaN,Some-college,10,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,16,United-States,<=50K
48567,76,NaN,HS-grad,9,Divorced,NaN,Not-in-family,White,Female,0,0,3,United-States,<=50K
48579,21,NaN,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,38,United-States,<=50K
48593,56,NaN,Masters,14,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,>50K
48596,19,NaN,HS-grad,9,Never-married,NaN,Own-child,White,Male,0,0,44,United-States,<=50K
48678,21,NaN,Some-college,10,Never-married,NaN,Other-relative,White,Female,0,0,52,United-States,<=50K
48682,61,NaN,Some-college,10,Married-civ-spouse,NaN,Husband,White,Male,0,0,14,United-States,<=50K
48769,21,NaN,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
48800,73,NaN,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,Canada,<=50K
48812,81,NaN,Assoc-voc,11,Married-civ-spouse,NaN,Husband,White,Male,2936,0,20,United-States,<=50K
48838,64,NaN,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K

In [13]:
data[data.education.isnull()]

Empty DataFrame
Columns: [age, workclass, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [62]:
data.workclass = data.groupby('education').workclass.transform(lambda x: x.fillna(x.mode()[0]))
data.occupation = data.groupby('education').occupation.transform(lambda x: x.fillna(x.mode()[0]))

#### Doing the same thing to native-country column based on race.

In [15]:
data[data.race.isnull()]

Empty DataFrame
Columns: [age, workclass, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [16]:
data[data["native-country"].isnull()]

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
14,40,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K
38,31,Private,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,NaN,>50K
51,18,Private,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,NaN,<=50K
61,32,Private,7th-8th,4,Married-spouse-absent,Craft-repair,Not-in-family,White,Male,0,0,40,NaN,<=50K
93,30,Private,HS-grad,9,Married-civ-spouse,Sales,Wife,Asian-Pac-Islander,Female,0,1573,35,NaN,<=50K
245,56,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,35,NaN,<=50K
249,45,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,NaN,<=50K
297,39,Private,Masters,14,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,3464,0,40,NaN,<=50K
393,34,State-gov,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,NaN,>50K
453,42,Private,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,40,NaN,>50K
557,31,Private,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,20,NaN,<=50K
712,36,Private,Bachelors,13,Separated,Prof-specialty,Not-in-family,White,Male,0,0,40,NaN,<=50K
725,43,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,NaN,>50K
729,65,Self-emp-not-inc,11th,7,Married-civ-spouse,Exec-managerial,Husband,White,Male,9386,0,59,NaN,>50K
777,34,Private,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,NaN,<=50K
780,43,State-gov,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,NaN,<=50K
887,33,Self-emp-inc,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,NaN,<=50K
955,41,Private,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,NaN,<=50K
1026,30,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Black,Male,0,0,45,NaN,<=50K
1036,66,Self-emp-inc,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,NaN,<=50K
1115,60,Self-emp-inc,Assoc-voc,11,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,2415,70,NaN,>50K
1152,24,Private,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,NaN,<=50K
1158,26,Private,Bachelors,13,Never-married,Transport-moving,Unmarried,Asian-Pac-Islander,Male,0,0,40,NaN,<=50K
1199,50,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,4386,0,40,NaN,<=50K
1224,38,Private,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,NaN,>50K
1252,30,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,NaN,<=50K
1326,47,Private,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,NaN,<=50K
1348,36,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,60,NaN,>50K
1391,40,Local-gov,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,1887,40,NaN,>50K
1554,62,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,NaN,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46763,18,Private,Some-college,10,Never-married,Adm-clerical,Own-child,Other,Female,0,0,20,NaN,<=50K
46785,35,Private,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,50,NaN,>50K
46823,39,Private,Bachelors,13,Never-married,Transport-moving,Not-in-family,White,Male,0,0,40,NaN,<=50K
46894,27,Self-emp-not-inc,Bachelors,13,Never-married,Sales,Other-relative,Asian-Pac-Islander,Male,0,0,50,NaN,<=50K
46933,22,Private,Some-college,10,Never-married,Adm-clerical,Other-relative,White,Male,0,0,45,NaN,<=50K
46967,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,<=50K
47006,27,Federal-gov,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,NaN,>50K
47107,32,State-gov,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,2961,0,99,NaN,<=50K
47145,45,Private,12th,8,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,35,NaN,>50K
47171,32,Private,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,1741,45,NaN,<=50K
47212,30,Private,HS-grad,9,Married-civ-spouse,Sales,Other-relative,Asian-Pac-Islander,Female,0,0,40,NaN,<=50K
47292,20,Private,12th,8,Never-married,Other-service,Unmarried,White,Male,0,0,40,NaN,<=50K
47566,56,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,NaN,>50K
47575,36,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,0,0,44,NaN,>50K
47644,51,Private,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,15024,0,40,NaN,>50K
47651,46,Local-gov,Masters,14,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,NaN,<=50K
47659,88,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,1816,50,NaN,<=50K
47745,65,Private,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,White,Male,20051,0,20,NaN,>50K
47794,53,Private,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,NaN,>50K
47881,57,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,NaN,>50K
47910,31,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Female,0,0,25,NaN,<=50K
47957,37,Private,5th-6th,3,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,NaN,<=50K
47981,41,Private,Some-college,10,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,55,NaN,<=50K
48041,47,Private,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,50,NaN,<=50K
48154,51,Local-gov,HS-grad,9,Separated,Adm-clerical,Not-in-family,White,Female,0,0,35,NaN,<=50K
48245,46,Private,11th,7,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,NaN,<=50K
48272,24,Private,Some-college,10,Never-married,Other-service,Other-relative,White,Female,0,0,24,NaN,<=50K
48604,24,State-gov,Bachelors,13,Never-married,Transport-moving,Not-in-family,Black,Male,0,0,40,NaN,<=50K
48651,34,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,Black,Male,0,0,45,NaN,>50K
48826,50,Local-gov,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,NaN,>50K

In [63]:
data["native-country"] = data.groupby('race')["native-country"].transform(lambda x: x.fillna(x.mode()[0]))

In [64]:
data.income = data.income.apply(lambda x: 0 if x=="<=50K" else 1)

In [65]:
cat_col_list = ["workclass","education","marital-status","occupation","relationship","race","sex","native-country"]
num_col_list = [col for col in data.drop("income",axis=1).columns if col not in cat_col_list]

In [66]:
for i in cat_col_list:
    data[i] = data[i].astype('category')

#### Classes are imbalanced.

In [26]:
data.groupby("income").count()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
income,,,,,,,,,,,,,
0,37128,37128,37128,37128,37128,37128,37128,37128,37128,37128,37128,37128,37128
1,11685,11685,11685,11685,11685,11685,11685,11685,11685,11685,11685,11685,11685

In [67]:
from sklearn.utils import class_weight
cw = list(class_weight.compute_class_weight('balanced',
                                             np.unique(data['income']),
                                             data['income']))

In [68]:
cw

[0.6573610213316096, 2.0887034659820283]

### Splitting data

In [69]:
from sklearn.model_selection import train_test_split
X = data.drop("income",axis=1)
y = data["income"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [70]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((39050, 13), (9763, 13), (39050,), (9763,))

In [71]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size = 0.2)

In [72]:
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((31240, 13), (7810, 13), (31240,), (7810,))

### Training

In [73]:
from catboost import Pool, FeaturesData, CatBoostClassifier

In [91]:
fit_params = {
               "iterations" : 200, 
               "loss_function" : 'Logloss',
               "depth" : 5,
               "learning_rate" : 0.5,
                "class_weights": cw
}

In [92]:
train_pool = Pool(
                    data=FeaturesData(
                        num_feature_data = np.array(X_train[num_col_list].values, dtype=np.float32),
                        cat_feature_data = np.array(X_train[cat_col_list].values, dtype=object), 
                        num_feature_names = num_col_list, 
                        cat_feature_names = cat_col_list
                    ),
                    label =  y_train
                )

eval_pool = Pool(
                    data=FeaturesData(
                        num_feature_data = np.array(X_val[num_col_list].values, dtype=np.float32),
                        cat_feature_data = np.array(X_val[cat_col_list].values, dtype=object), 
                        num_feature_names = num_col_list, 
                        cat_feature_names = cat_col_list
                    ),
                    label =  y_val
                )

In [93]:
model = CatBoostClassifier(**fit_params, verbose=True)

In [94]:
model.fit(train_pool, eval_set=eval_pool, verbose_eval=True)

0:	learn: 0.4564488	test: 0.4509093	best: 0.4509093 (0)	total: 130ms	remaining: 25.8s
1:	learn: 0.4096710	test: 0.4030703	best: 0.4030703 (1)	total: 258ms	remaining: 25.5s
2:	learn: 0.3933031	test: 0.3854037	best: 0.3854037 (2)	total: 349ms	remaining: 22.9s
3:	learn: 0.3817885	test: 0.3738028	best: 0.3738028 (3)	total: 477ms	remaining: 23.4s
4:	learn: 0.3771937	test: 0.3696262	best: 0.3696262 (4)	total: 590ms	remaining: 23s
5:	learn: 0.3735396	test: 0.3668621	best: 0.3668621 (5)	total: 667ms	remaining: 21.6s
6:	learn: 0.3653222	test: 0.3589881	best: 0.3589881 (6)	total: 766ms	remaining: 21.1s
7:	learn: 0.3587420	test: 0.3524770	best: 0.3524770 (7)	total: 893ms	remaining: 21.4s
8:	learn: 0.3557617	test: 0.3505441	best: 0.3505441 (8)	total: 996ms	remaining: 21.1s
9:	learn: 0.3544154	test: 0.3492916	best: 0.3492916 (9)	total: 1.08s	remaining: 20.5s
10:	learn: 0.3531732	test: 0.3487588	best: 0.3487588 (10)	total: 1.18s	remaining: 20.2s
11:	learn: 0.3510532	test: 0.3476811	best: 0.3476811 (11)	total: 1.27s	remaining: 20s
12:	learn: 0.3504144	test: 0.3476085	best: 0.3476085 (12)	total: 1.35s	remaining: 19.4s
13:	learn: 0.3501504	test: 0.3475471	best: 0.3475471 (13)	total: 1.43s	remaining: 19s
14:	learn: 0.3487445	test: 0.3467078	best: 0.3467078 (14)	total: 1.52s	remaining: 18.8s
15:	learn: 0.3481994	test: 0.3469484	best: 0.3467078 (14)	total: 1.57s	remaining: 18s
16:	learn: 0.3444700	test: 0.3431423	best: 0.3431423 (16)	total: 1.69s	remaining: 18.2s
17:	learn: 0.3433328	test: 0.3426936	best: 0.3426936 (17)	total: 1.78s	remaining: 18s
18:	learn: 0.3424723	test: 0.3426377	best: 0.3426377 (18)	total: 1.85s	remaining: 17.7s
19:	learn: 0.3416527	test: 0.3425604	best: 0.3425604 (19)	total: 1.95s	remaining: 17.6s
20:	learn: 0.3416093	test: 0.3425402	best: 0.3425402 (20)	total: 2.04s	remaining: 17.4s
21:	learn: 0.3414231	test: 0.3424795	best: 0.3424795 (21)	total: 2.14s	remaining: 17.3s
22:	learn: 0.3380970	test: 0.3391369	best: 0.3391369 (22)	total: 2.25s	remaining: 17.3s
23:	learn: 0.3376894	test: 0.3391744	best: 0.3391369 (22)	total: 2.35s	remaining: 17.2s
24:	learn: 0.3369559	test: 0.3398492	best: 0.3391369 (22)	total: 2.57s	remaining: 18s
25:	learn: 0.3368037	test: 0.3399058	best: 0.3391369 (22)	total: 2.79s	remaining: 18.7s
26:	learn: 0.3360599	test: 0.3396006	best: 0.3391369 (22)	total: 3.04s	remaining: 19.5s
27:	learn: 0.3360212	test: 0.3396029	best: 0.3391369 (22)	total: 3.09s	remaining: 19s
28:	learn: 0.3359923	test: 0.3395894	best: 0.3391369 (22)	total: 3.24s	remaining: 19.1s
29:	learn: 0.3351538	test: 0.3390438	best: 0.3390438 (29)	total: 3.41s	remaining: 19.3s
30:	learn: 0.3346372	test: 0.3392624	best: 0.3390438 (29)	total: 3.56s	remaining: 19.4s
31:	learn: 0.3335391	test: 0.3391234	best: 0.3390438 (29)	total: 3.71s	remaining: 19.5s
32:	learn: 0.3318368	test: 0.3379970	best: 0.3379970 (32)	total: 3.86s	remaining: 19.5s
33:	learn: 0.3315722	test: 0.3378571	best: 0.3378571 (33)	total: 4s	remaining: 19.5s
34:	learn: 0.3311829	test: 0.3379603	best: 0.3378571 (33)	total: 4.09s	remaining: 19.3s
35:	learn: 0.3311686	test: 0.3379606	best: 0.3378571 (33)	total: 4.22s	remaining: 19.2s
36:	learn: 0.3311674	test: 0.3379605	best: 0.3378571 (33)	total: 4.29s	remaining: 18.9s
37:	learn: 0.3311565	test: 0.3378985	best: 0.3378571 (33)	total: 4.38s	remaining: 18.7s
38:	learn: 0.3308183	test: 0.3378911	best: 0.3378571 (33)	total: 4.47s	remaining: 18.5s
39:	learn: 0.3305386	test: 0.3378107	best: 0.3378107 (39)	total: 4.6s	remaining: 18.4s
40:	learn: 0.3304894	test: 0.3377847	best: 0.3377847 (40)	total: 4.7s	remaining: 18.2s
41:	learn: 0.3302190	test: 0.3374704	best: 0.3374704 (41)	total: 4.77s	remaining: 17.9s
42:	learn: 0.3294714	test: 0.3367455	best: 0.3367455 (42)	total: 4.88s	remaining: 17.8s
43:	learn: 0.3286625	test: 0.3366000	best: 0.3366000 (43)	total: 5.02s	remaining: 17.8s
44:	learn: 0.3280106	test: 0.3366661	best: 0.3366000 (43)	total: 5.11s	remaining: 17.6s
45:	learn: 0.3275885	test: 0.3368841	best: 0.3366000 (43)	total: 5.2s	remaining: 17.4s
46:	learn: 0.3269307	test: 0.3369461	best: 0.3366000 (43)	total: 5.29s	remaining: 17.2s
47:	learn: 0.3269302	test: 0.3369460	best: 0.3366000 (43)	total: 5.39s	remaining: 17.1s
48:	learn: 0.3265641	test: 0.3370850	best: 0.3366000 (43)	total: 5.46s	remaining: 16.8s
49:	learn: 0.3262324	test: 0.3367674	best: 0.3366000 (43)	total: 5.55s	remaining: 16.6s
50:	learn: 0.3260974	test: 0.3368542	best: 0.3366000 (43)	total: 5.62s	remaining: 16.4s
51:	learn: 0.3258366	test: 0.3370508	best: 0.3366000 (43)	total: 5.68s	remaining: 16.2s
52:	learn: 0.3250987	test: 0.3378183	best: 0.3366000 (43)	total: 5.78s	remaining: 16s
53:	learn: 0.3248933	test: 0.3378233	best: 0.3366000 (43)	total: 5.88s	remaining: 15.9s
54:	learn: 0.3245385	test: 0.3378834	best: 0.3366000 (43)	total: 5.97s	remaining: 15.7s
55:	learn: 0.3243766	test: 0.3378582	best: 0.3366000 (43)	total: 6.07s	remaining: 15.6s
56:	learn: 0.3240814	test: 0.3379987	best: 0.3366000 (43)	total: 6.18s	remaining: 15.5s
57:	learn: 0.3236294	test: 0.3375830	best: 0.3366000 (43)	total: 6.25s	remaining: 15.3s
58:	learn: 0.3234043	test: 0.3373352	best: 0.3366000 (43)	total: 6.32s	remaining: 15.1s
59:	learn: 0.3233201	test: 0.3372852	best: 0.3366000 (43)	total: 6.41s	remaining: 14.9s
60:	learn: 0.3231532	test: 0.3372871	best: 0.3366000 (43)	total: 6.49s	remaining: 14.8s
61:	learn: 0.3229506	test: 0.3373093	best: 0.3366000 (43)	total: 6.55s	remaining: 14.6s
62:	learn: 0.3226953	test: 0.3371562	best: 0.3366000 (43)	total: 6.64s	remaining: 14.4s
63:	learn: 0.3221922	test: 0.3372322	best: 0.3366000 (43)	total: 6.74s	remaining: 14.3s
64:	learn: 0.3217767	test: 0.3369722	best: 0.3366000 (43)	total: 6.81s	remaining: 14.1s
65:	learn: 0.3213370	test: 0.3367342	best: 0.3366000 (43)	total: 6.91s	remaining: 14s
66:	learn: 0.3205993	test: 0.3367707	best: 0.3366000 (43)	total: 7s	remaining: 13.9s
67:	learn: 0.3204001	test: 0.3367119	best: 0.3366000 (43)	total: 7.08s	remaining: 13.7s
68:	learn: 0.3198768	test: 0.3365210	best: 0.3365210 (68)	total: 7.18s	remaining: 13.6s
69:	learn: 0.3193154	test: 0.3372352	best: 0.3365210 (68)	total: 7.28s	remaining: 13.5s
70:	learn: 0.3189124	test: 0.3371215	best: 0.3365210 (68)	total: 7.38s	remaining: 13.4s
71:	learn: 0.3187507	test: 0.3372377	best: 0.3365210 (68)	total: 7.47s	remaining: 13.3s
72:	learn: 0.3187394	test: 0.3372198	best: 0.3365210 (68)	total: 7.57s	remaining: 13.2s
73:	learn: 0.3185503	test: 0.3373525	best: 0.3365210 (68)	total: 7.65s	remaining: 13s
74:	learn: 0.3180683	test: 0.3372767	best: 0.3365210 (68)	total: 7.75s	remaining: 12.9s
75:	learn: 0.3176637	test: 0.3373262	best: 0.3365210 (68)	total: 7.83s	remaining: 12.8s
76:	learn: 0.3174644	test: 0.3373170	best: 0.3365210 (68)	total: 7.92s	remaining: 12.6s
77:	learn: 0.3170478	test: 0.3372097	best: 0.3365210 (68)	total: 7.99s	remaining: 12.5s
78:	learn: 0.3169200	test: 0.3372481	best: 0.3365210 (68)	total: 8.08s	remaining: 12.4s
79:	learn: 0.3168059	test: 0.3373694	best: 0.3365210 (68)	total: 8.18s	remaining: 12.3s
80:	learn: 0.3167951	test: 0.3373694	best: 0.3365210 (68)	total: 8.32s	remaining: 12.2s
81:	learn: 0.3162502	test: 0.3374201	best: 0.3365210 (68)	total: 8.45s	remaining: 12.2s
82:	learn: 0.3160620	test: 0.3378300	best: 0.3365210 (68)	total: 8.53s	remaining: 12s
83:	learn: 0.3158146	test: 0.3377535	best: 0.3365210 (68)	total: 8.61s	remaining: 11.9s
84:	learn: 0.3156063	test: 0.3377203	best: 0.3365210 (68)	total: 8.72s	remaining: 11.8s
85:	learn: 0.3153611	test: 0.3376039	best: 0.3365210 (68)	total: 8.77s	remaining: 11.6s
86:	learn: 0.3151195	test: 0.3376883	best: 0.3365210 (68)	total: 8.86s	remaining: 11.5s
87:	learn: 0.3146351	test: 0.3382290	best: 0.3365210 (68)	total: 8.97s	remaining: 11.4s
88:	learn: 0.3143005	test: 0.3383877	best: 0.3365210 (68)	total: 9.06s	remaining: 11.3s
89:	learn: 0.3141287	test: 0.3389387	best: 0.3365210 (68)	total: 9.16s	remaining: 11.2s
90:	learn: 0.3130855	test: 0.3380500	best: 0.3365210 (68)	total: 9.27s	remaining: 11.1s
91:	learn: 0.3126236	test: 0.3377177	best: 0.3365210 (68)	total: 9.36s	remaining: 11s
92:	learn: 0.3124232	test: 0.3376712	best: 0.3365210 (68)	total: 9.46s	remaining: 10.9s
93:	learn: 0.3119784	test: 0.3378868	best: 0.3365210 (68)	total: 9.54s	remaining: 10.8s

94:	learn: 0.3116606	test: 0.3382174	best: 0.3365210 (68)	total: 9.66s	remaining: 10.7s
95:	learn: 0.3114232	test: 0.3381271	best: 0.3365210 (68)	total: 9.78s	remaining: 10.6s
96:	learn: 0.3112876	test: 0.3381721	best: 0.3365210 (68)	total: 9.89s	remaining: 10.5s
97:	learn: 0.3109624	test: 0.3381612	best: 0.3365210 (68)	total: 10s	remaining: 10.4s
98:	learn: 0.3107008	test: 0.3382590	best: 0.3365210 (68)	total: 10.1s	remaining: 10.3s
99:	learn: 0.3103874	test: 0.3381244	best: 0.3365210 (68)	total: 10.2s	remaining: 10.2s
100:	learn: 0.3099429	test: 0.3380634	best: 0.3365210 (68)	total: 10.4s	remaining: 10.2s
101:	learn: 0.3096851	test: 0.3381678	best: 0.3365210 (68)	total: 10.5s	remaining: 10s
102:	learn: 0.3096076	test: 0.3381457	best: 0.3365210 (68)	total: 10.5s	remaining: 9.91s
103:	learn: 0.3092587	test: 0.3381648	best: 0.3365210 (68)	total: 10.6s	remaining: 9.77s
104:	learn: 0.3091086	test: 0.3382782	best: 0.3365210 (68)	total: 10.7s	remaining: 9.67s
105:	learn: 0.3087496	test: 0.3382502	best: 0.3365210 (68)	total: 10.8s	remaining: 9.56s
106:	learn: 0.3084656	test: 0.3382261	best: 0.3365210 (68)	total: 10.9s	remaining: 9.43s
107:	learn: 0.3072469	test: 0.3363564	best: 0.3363564 (107)	total: 11s	remaining: 9.34s
108:	learn: 0.3068569	test: 0.3360877	best: 0.3360877 (108)	total: 11.1s	remaining: 9.23s
109:	learn: 0.3066856	test: 0.3361570	best: 0.3360877 (108)	total: 11.1s	remaining: 9.12s
110:	learn: 0.3066293	test: 0.3361963	best: 0.3360877 (108)	total: 11.2s	remaining: 9.01s
111:	learn: 0.3065564	test: 0.3362735	best: 0.3360877 (108)	total: 11.3s	remaining: 8.9s
112:	learn: 0.3064865	test: 0.3362986	best: 0.3360877 (108)	total: 11.4s	remaining: 8.8s
113:	learn: 0.3063681	test: 0.3364473	best: 0.3360877 (108)	total: 11.6s	remaining: 8.72s
114:	learn: 0.3061292	test: 0.3362239	best: 0.3360877 (108)	total: 11.7s	remaining: 8.62s
115:	learn: 0.3058596	test: 0.3365624	best: 0.3360877 (108)	total: 11.7s	remaining: 8.51s
116:	learn: 0.3054173	test: 0.3375564	best: 0.3360877 (108)	total: 11.8s	remaining: 8.4s
117:	learn: 0.3053222	test: 0.3375046	best: 0.3360877 (108)	total: 11.9s	remaining: 8.27s
118:	learn: 0.3051105	test: 0.3377576	best: 0.3360877 (108)	total: 12s	remaining: 8.17s
119:	learn: 0.3049299	test: 0.3377508	best: 0.3360877 (108)	total: 12.1s	remaining: 8.04s
120:	learn: 0.3047727	test: 0.3377402	best: 0.3360877 (108)	total: 12.2s	remaining: 7.94s
121:	learn: 0.3044926	test: 0.3379894	best: 0.3360877 (108)	total: 12.2s	remaining: 7.81s
122:	learn: 0.3044161	test: 0.3382121	best: 0.3360877 (108)	total: 12.3s	remaining: 7.7s
123:	learn: 0.3042620	test: 0.3381078	best: 0.3360877 (108)	total: 12.4s	remaining: 7.6s
124:	learn: 0.3040111	test: 0.3383106	best: 0.3360877 (108)	total: 12.5s	remaining: 7.5s
125:	learn: 0.3038782	test: 0.3384773	best: 0.3360877 (108)	total: 12.6s	remaining: 7.39s
126:	learn: 0.3037694	test: 0.3385178	best: 0.3360877 (108)	total: 12.6s	remaining: 7.27s
127:	learn: 0.3035437	test: 0.3382574	best: 0.3360877 (108)	total: 12.8s	remaining: 7.17s
128:	learn: 0.3032372	test: 0.3379026	best: 0.3360877 (108)	total: 12.8s	remaining: 7.07s
129:	learn: 0.3031400	test: 0.3379596	best: 0.3360877 (108)	total: 12.9s	remaining: 6.96s
130:	learn: 0.3028963	test: 0.3378778	best: 0.3360877 (108)	total: 13s	remaining: 6.85s
131:	learn: 0.3027123	test: 0.3381075	best: 0.3360877 (108)	total: 13.1s	remaining: 6.76s
132:	learn: 0.3022932	test: 0.3382782	best: 0.3360877 (108)	total: 13.2s	remaining: 6.66s
133:	learn: 0.3022242	test: 0.3385047	best: 0.3360877 (108)	total: 13.3s	remaining: 6.57s
134:	learn: 0.3021217	test: 0.3383971	best: 0.3360877 (108)	total: 13.4s	remaining: 6.47s
135:	learn: 0.3017634	test: 0.3383195	best: 0.3360877 (108)	total: 13.5s	remaining: 6.37s
136:	learn: 0.3012168	test: 0.3383084	best: 0.3360877 (108)	total: 13.6s	remaining: 6.27s
137:	learn: 0.3011448	test: 0.3383373	best: 0.3360877 (108)	total: 13.7s	remaining: 6.18s
138:	learn: 0.3010828	test: 0.3383353	best: 0.3360877 (108)	total: 13.8s	remaining: 6.07s
139:	learn: 0.3008759	test: 0.3386221	best: 0.3360877 (108)	total: 13.9s	remaining: 5.97s
140:	learn: 0.3007221	test: 0.3385782	best: 0.3360877 (108)	total: 14s	remaining: 5.87s
141:	learn: 0.3005255	test: 0.3386225	best: 0.3360877 (108)	total: 14.1s	remaining: 5.77s
142:	learn: 0.3002080	test: 0.3389164	best: 0.3360877 (108)	total: 14.2s	remaining: 5.67s
143:	learn: 0.3000457	test: 0.3386145	best: 0.3360877 (108)	total: 14.3s	remaining: 5.57s
144:	learn: 0.2999808	test: 0.3386456	best: 0.3360877 (108)	total: 14.4s	remaining: 5.47s
145:	learn: 0.2997972	test: 0.3388343	best: 0.3360877 (108)	total: 14.5s	remaining: 5.37s
146:	learn: 0.2996143	test: 0.3387344	best: 0.3360877 (108)	total: 14.6s	remaining: 5.27s
147:	learn: 0.2995502	test: 0.3386836	best: 0.3360877 (108)	total: 14.7s	remaining: 5.17s
148:	learn: 0.2993491	test: 0.3385713	best: 0.3360877 (108)	total: 14.8s	remaining: 5.07s
149:	learn: 0.2990618	test: 0.3386184	best: 0.3360877 (108)	total: 14.9s	remaining: 4.96s
150:	learn: 0.2989747	test: 0.3388005	best: 0.3360877 (108)	total: 15s	remaining: 4.87s
151:	learn: 0.2986320	test: 0.3395661	best: 0.3360877 (108)	total: 15.1s	remaining: 4.77s
152:	learn: 0.2984809	test: 0.3395168	best: 0.3360877 (108)	total: 15.3s	remaining: 4.7s
153:	learn: 0.2982230	test: 0.3395909	best: 0.3360877 (108)	total: 15.4s	remaining: 4.6s
154:	learn: 0.2981858	test: 0.3396074	best: 0.3360877 (108)	total: 15.5s	remaining: 4.5s
155:	learn: 0.2980769	test: 0.3394894	best: 0.3360877 (108)	total: 15.6s	remaining: 4.41s
156:	learn: 0.2977658	test: 0.3394116	best: 0.3360877 (108)	total: 15.8s	remaining: 4.32s
157:	learn: 0.2976120	test: 0.3394483	best: 0.3360877 (108)	total: 15.9s	remaining: 4.23s
158:	learn: 0.2973996	test: 0.3396292	best: 0.3360877 (108)	total: 16s	remaining: 4.14s
159:	learn: 0.2967576	test: 0.3385902	best: 0.3360877 (108)	total: 16.2s	remaining: 4.04s
160:	learn: 0.2965598	test: 0.3383835	best: 0.3360877 (108)	total: 16.3s	remaining: 3.94s
161:	learn: 0.2962414	test: 0.3387729	best: 0.3360877 (108)	total: 16.4s	remaining: 3.84s
162:	learn: 0.2961744	test: 0.3386974	best: 0.3360877 (108)	total: 16.5s	remaining: 3.74s
163:	learn: 0.2960184	test: 0.3390274	best: 0.3360877 (108)	total: 16.6s	remaining: 3.65s
164:	learn: 0.2956671	test: 0.3388219	best: 0.3360877 (108)	total: 16.7s	remaining: 3.55s
165:	learn: 0.2953485	test: 0.3389291	best: 0.3360877 (108)	total: 16.9s	remaining: 3.45s
166:	learn: 0.2952602	test: 0.3389078	best: 0.3360877 (108)	total: 16.9s	remaining: 3.35s
167:	learn: 0.2951925	test: 0.3388994	best: 0.3360877 (108)	total: 17s	remaining: 3.24s
168:	learn: 0.2950836	test: 0.3389638	best: 0.3360877 (108)	total: 17.1s	remaining: 3.13s
169:	learn: 0.2948346	test: 0.3392051	best: 0.3360877 (108)	total: 17.2s	remaining: 3.04s
170:	learn: 0.2945429	test: 0.3394177	best: 0.3360877 (108)	total: 17.3s	remaining: 2.93s
171:	learn: 0.2941682	test: 0.3397311	best: 0.3360877 (108)	total: 17.4s	remaining: 2.83s
172:	learn: 0.2940027	test: 0.3397460	best: 0.3360877 (108)	total: 17.5s	remaining: 2.73s
173:	learn: 0.2936622	test: 0.3402958	best: 0.3360877 (108)	total: 17.6s	remaining: 2.63s
174:	learn: 0.2934502	test: 0.3405475	best: 0.3360877 (108)	total: 17.7s	remaining: 2.53s
175:	learn: 0.2932090	test: 0.3405262	best: 0.3360877 (108)	total: 17.8s	remaining: 2.43s
176:	learn: 0.2931379	test: 0.3404621	best: 0.3360877 (108)	total: 17.9s	remaining: 2.33s
177:	learn: 0.2925850	test: 0.3407681	best: 0.3360877 (108)	total: 18s	remaining: 2.23s
178:	learn: 0.2923905	test: 0.3409361	best: 0.3360877 (108)	total: 18.1s	remaining: 2.13s
179:	learn: 0.2922703	test: 0.3408730	best: 0.3360877 (108)	total: 18.3s	remaining: 2.03s
180:	learn: 0.2920640	test: 0.3413487	best: 0.3360877 (108)	total: 18.4s	remaining: 1.93s
181:	learn: 0.2920398	test: 0.3413093	best: 0.3360877 (108)	total: 18.5s	remaining: 1.83s
182:	learn: 0.2918531	test: 0.3413393	best: 0.3360877 (108)	total: 18.6s	remaining: 1.72s
183:	learn: 0.2917492	test: 0.3413725	best: 0.3360877 (108)	total: 18.6s	remaining: 1.62s
184:	learn: 0.2916523	test: 0.3415077	best: 0.3360877 (108)	total: 18.8s	remaining: 1.52s
185:	learn: 0.2914124	test: 0.3418088	best: 0.3360877 (108)	total: 18.9s	remaining: 1.42s

186:	learn: 0.2912471	test: 0.3418797	best: 0.3360877 (108)	total: 18.9s	remaining: 1.32s
187:	learn: 0.2910323	test: 0.3419584	best: 0.3360877 (108)	total: 19.1s	remaining: 1.22s
188:	learn: 0.2907702	test: 0.3420658	best: 0.3360877 (108)	total: 19.2s	remaining: 1.11s
189:	learn: 0.2905855	test: 0.3422851	best: 0.3360877 (108)	total: 19.3s	remaining: 1.01s
190:	learn: 0.2904476	test: 0.3423360	best: 0.3360877 (108)	total: 19.4s	remaining: 912ms
191:	learn: 0.2903894	test: 0.3423591	best: 0.3360877 (108)	total: 19.5s	remaining: 812ms
192:	learn: 0.2903358	test: 0.3424043	best: 0.3360877 (108)	total: 19.6s	remaining: 709ms
193:	learn: 0.2900926	test: 0.3421005	best: 0.3360877 (108)	total: 19.6s	remaining: 607ms
194:	learn: 0.2899832	test: 0.3422132	best: 0.3360877 (108)	total: 19.7s	remaining: 506ms
195:	learn: 0.2897599	test: 0.3420596	best: 0.3360877 (108)	total: 19.8s	remaining: 404ms
196:	learn: 0.2895235	test: 0.3421630	best: 0.3360877 (108)	total: 19.9s	remaining: 303ms
197:	learn: 0.2892694	test: 0.3422711	best: 0.3360877 (108)	total: 20s	remaining: 202ms
198:	learn: 0.2889694	test: 0.3423999	best: 0.3360877 (108)	total: 20.1s	remaining: 101ms
199:	learn: 0.2885398	test: 0.3421918	best: 0.3360877 (108)	total: 20.2s	remaining: 0us

bestTest = 0.336087725
bestIteration = 108

Shrink model to first 109 iterations.

In [95]:
index_feature_importance = X_train.columns
df_feature_importance = pd.DataFrame(index=index_feature_importance, data={"out_importance": model.feature_importances_}).sort_values('out_importance', ascending=False)
df_feature_importance

                out_importance
education            22.031373
capital-gain         20.172137
age                  12.342756
marital-status        8.806234
education-num         8.123282
sex                   7.562003
workclass             7.417342
race                  5.662713
occupation            2.229643
relationship          1.881925
hours-per-week        1.650938
capital-loss          1.114626
native-country        1.005030

In [96]:
test_pool = Pool(
                    data=FeaturesData(
                        num_feature_data = np.array(X_test[num_col_list].values, dtype=np.float32),
                        cat_feature_data = np.array(X_test[cat_col_list].values, dtype=object), 
                        num_feature_names = num_col_list, 
                        cat_feature_names = cat_col_list
                    )
                )
y_preds = model.predict(test_pool)

In [97]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_preds)

array([[6059, 1318],
       [ 312, 2074]], dtype=int64)

#### Our model is better at predicting the positive samples (in our data, the class with income >50K)

In [98]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
precision = precision_score(y_test, y_preds)
recall = recall_score(y_test, y_preds)

In [99]:
precision

0.6114386792452831

In [100]:
recall

0.8692372170997485

In [101]:
from sklearn.ensemble import RandomForestClassifier

#### To be able to use a RandomForest Model, we need to transform the categorical features.

In [102]:
data_onehot = data.copy()
for i in cat_col_list:
    data_onehot = pd.get_dummies(data_onehot, columns=[i], prefix = [i])

data_onehot.head()

,age,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

#### To prevent curse of dimensionality, we should apply dimensionality reduction.

In [103]:
from sklearn.decomposition import PCA
pca = PCA(2) 
pca.fit(data_onehot.drop("income",axis=1)) 
pca_data = pd.DataFrame(pca.transform(data_onehot.drop("income",axis=1)))

In [104]:
pca_data.head()

             0          1
0  1094.439192 -85.685723
1 -1079.559702 -89.418890
2 -1079.557917 -89.398302
3 -1079.555860 -89.368831
4 -1079.559155 -89.416244

In [105]:
X_train, X_test, y_train, y_test = train_test_split(pca_data, y, test_size = 0.2)

In [106]:
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X_train, y_train)
RandomForestClassifier(max_depth=2, random_state=0, class_weight=cw)

C:\Users\Sezin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True,
                       class_weight=[0.6573610213316096, 2.0887034659820283],
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators='warn', n_jobs=None, oob_score=False,
                       random_state=0, verbose=0, warm_start=False)

In [107]:
y_preds = clf.predict(X_test)

In [108]:
confusion_matrix(y_test, y_preds)

array([[7382,   25],
       [1911,  445]], dtype=int64)

In [109]:
precision = precision_score(y_test, y_preds)
recall = recall_score(y_test, y_preds)

#### CatBoost Model gave better results than RandomForest Model in precision, but RF Model gave much better results in precision.

In [110]:
precision

0.9468085106382979

In [111]:
recall

0.18887945670628184

#### Here, RF Model is better at "not labeling a person's income as >50K when it's <=50K". CatBoost model is better at "labeling a person's income as >50K when it is actually >50K". Therefore, the model selection depends on what side we want to be more accurate on. But if we want to to choose a model which has balance between precision and recall values, we should choose CatBoost Model.